<h1>sign-up page</h1>

<form action="/users/create" method="post">
    <input type="email" name="email" placeholder="enter email" required>
    <input type="password" name="password" placeholder="enter password" required>
    <input type="password" name="confirm-password" placeholder="enter password" required>
    <input type="submit" name="submit" placeholder="submit" required>
</form>